@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap');

.personal-info {
  border: 1px solid lightgray;
  border-radius: 10px;
  padding: 2rem;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.7);
}

.row-container {
  position: relative;
}

.portfolio-content {
  height: 100vh;
  overflow: auto;
}

.App-header {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  color: darkgray;

  border: solid 1px darkgray;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}